/* FOOTER STYLES */
.footer {
    background-color: var(--charcoal);
    width: 100%;
    padding: 1rem;
    margin-top: auto;
}

.footer p, .footer a {
    color: var(--white);
    text-align: center;
    font-weight: bold;
}