.footer {
    background-color: var(--charcoal);
    position: absolute;
    width: 100%;
    padding: 1rem;
}

.footer p, .footer a {
    color: var(--white);
    text-align: center;
    font-weight: bold;
}