/* MOBILE VIEW */
.article {
    background-color: var(--light-grey);
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 5px;
    box-shadow: var(--charcoal) 0px 3px 5px;
    border-left: 10px solid var(--dark-blue);
}

.article h3 {
    padding-bottom: .5em;
}

/* UNDERLINE FOR ARTICLE HEADING TAGS */
.article h3:after {
    content: "";
    display: block;
    width: 5rem;
    margin-left: -0.1rem;
    margin-top: .5rem;
    border-bottom: 5px solid var(--dark-blue);
    border-radius: 5px;
}

.article p {
    padding: .5rem 0;
}

.article ul {
    padding-left: 1.5rem;
}

.article ul li {
    padding-bottom: .5rem;
}

/* DESKTOP VIEW */
@media screen and (min-width: 800px) {
    .article {
        max-width: 750px;
        margin: 2rem auto;
    }
}